*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel{
    width: 100%;
    height: 387px;
    margin-bottom: 150px;
    position: relative;
    top: 90px;
}

.carousel > img{
    width: 100%;
    height: 100%;
}